<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Menu</h1>
    <ul>
      <li><a href="http://localhost:3001/users"> Liste des utilisateurs</a></li>
      <li><a href="http://localhost:3001/analysis/most-saved-movie">
        Les films les plus sauvegardé</a
      ></li>
      <li><a href="http://localhost:3001/analysis/global-stat">Statistique globale</a></li>
      
    </ul>
  </body>
</html>
