<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <body>
      <table>
        <tr>
          
          <th>Nom d'utilisateur</th>
          <th>Mot de passe</th>
          <th>Liste des films</th>
        </tr>
        <% apiData.userList.forEach((user) => { %>
        <tr>
         
          <td><%= user.username %></td>
          <td><%= user.password %></td>
          <td><a href="/user/<%=user.username%>/movies">Liste</p></td>
        </tr>
        <% }) %>
      </table>

      <form  action="/" method="get">
        <button type="submit">Retour</button>
    </form>
    
    </body>
  </body>
</html>
